<mat-selection-list #todoLst *ngIf="todos$ | async as todos" (selectionChange)="onTodoDoneChanged($event)">
  <mat-list-option *ngFor="let todo of todos" [selected]="todo.isDone" [value]="todo.id">
    <div class="todo-item">
      <span [ngClass]="{ 'todo-title': true, 'todo-done-title': todo.isDone }">
          {{todo.title}}
      </span>

      <button mat-icon-button (click)="onDisplayTodo(todo.id)">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </mat-list-option>
</mat-selection-list>

